doctype html

html
  
  head
    include includes/_analytics.html
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap",rel="stylesheet")
    link(rel="stylesheet",href="https://use.typekit.net/ssw1afa.css")
    link(href="css/styles.css", rel="stylesheet")
    link(rel="apple-touch-icon",href="img/apple-touch-icon.png")
    link(rel="icon",type="image/png",sizes="32x32",href="img/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="16x16",href="img/favicon-16x16.png")
    title Catafalque by Alan Trotter. Part of The Aitken Alexander Isolation Series.
    meta(content="A story or essay or experiment. Part of The Aitken Alexander Isolation Series.",name="description")
    meta(content="Catafalque by Alan Trotter",property="og:title")
    meta(content="A story or essay or experiment. Part of The Aitken Alexander Isolation Series.",property="og:description")
    meta(content="http://alantrotter.com/catafalque/img/catafalque.jpg",property="og:image")
    meta(content="summary",name="twitter:card")
      
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    link(rel="stylesheet",href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js")
    script(src="js/extrascripts.js")
  
  body
    //- .area-display - - -
    .error
      p(data-l-reveal="1") This is an experiment made for desktop and laptop screens.
      p(data-l-reveal="1") Unfortunately it won’t work on phones or in smaller browser windows.
      p.credit(data-l-reveal="1") #[a(href="https://alantrotter.com") Alan Trotter]
    .title
      h1 Catafalque #[em by] #[a(href="https://alantrotter.com") Alan&nbsp;Trotter].
      h3 Part of #[br]
        a(href="http://www.aitkenalexander.co.uk/") The Aitken&nbsp;Alexander Isolation&nbsp;Series
        | .
    .full-size-container
      .outer-story-container
        .story-container
          p.on(data-l-reveal="1") I am at home 
            span(data-w-reveal="168") d
            | reading#[span(data-w-reveal="247")  everything].
            span(data-w-reveal="446")  Since 
              span(data-w-reveal="530") compulsive 
              | hand-washing began
              span(data-w-reveal="675") , whenever that was
                span(data-l-reveal="2") ,
              span(data-l-hide="2") .
          p(data-l-reveal="2") #[span(data-w-reveal="446") m]#[span(data-w-hide="446") M]y hands feel 
            span(data-w-hide="173") strange
            span(data-w-reveal="173") different
            span(data-w-reveal="423") , slightly#[span(data-w-reveal="534") ,]
            span(data-w-reveal="587")  and,
            span(data-w-reveal="560")  so,
            span(data-w-reveal="534")  which is to say, e
            span(data-w-reveal="358") #[span(data-w-hide="534") . E]verything feels different
            span(data-w-reveal="650") , slightly
            span.on .
          p(data-l-reveal="3") #[span(data-w-reveal="272") The]#[span(data-w-hide="272") A] book in my hands
            span(data-w-reveal="424") , feeling #[span(data-w-reveal="481") slightly ]different,
            span(data-w-reveal="272")  is #[span(data-w-hide="284") James Hogg]
            span(data-w-reveal="284") #[span(data-w-hide="297") Sue Prideaux]
            span(data-w-reveal="297") #[span(data-w-hide="566") Kazuo Ishiguro]
            span(data-w-reveal="566") Carmen Maria Machado
            
            span(data-l-hide="4") .
            span(data-l-reveal="4")
              span(data-w-reveal="284") :
            span(data-w-reveal="680")  a story collection#[span(data-l-reveal="4") ,]#[span(data-l-hide="4") .]
              
          p(data-l-reveal="4") #[span(data-w-hide="272") that #[span(data-w-reveal="177") continually ]changes]
            span(data-w-reveal="272") #[span(data-w-hide="284") I’m re-reading it: a masterpiece]
            span(data-w-reveal="284") #[span(data-w-hide="297") a biography of Friedrich Nietzsche]
            span(data-w-reveal="297") #[span(data-w-hide="566") a fantasy novel, research maybe]
              span(data-w-reveal="321") #[span(data-w-hide="500") , who knows]
              span(data-w-reveal="500") #[span(data-w-hide="566") , I'm not sure]
              span(data-w-reveal="481") #[span(data-w-hide="566")  what I'm writing]
              span(data-w-reveal="368") #[span(data-w-hide="523")  now]
              span(data-w-reveal="523") #[span(data-w-hide="566")  any more]
            span(data-w-reveal="566") one of the stories – it turns out#[span(data-w-hide="656") , strangely enough] – is about a #[span(data-w-reveal="585") #[span(data-w-hide="656") global ]]pandemic#[span(data-w-reveal="656") , global death coming in like the tide]
            | .
          p(data-l-reveal="5") The sun’s #[span(data-w-hide="191") out]
            span(data-w-reveal="191")  coming in
            span(data-w-reveal="257")  at the window
            span(data-w-reveal="424") ,
            span(data-w-reveal="424")  I think
            span(data-w-reveal="479")  I’ll go and dread there
            span(data-w-reveal="561")  for a while
            | .
          p(data-l-reveal="6") I #[span(data-w-hide="197") walk the dog]
            span(data-w-reveal="197")  take the dog for #[span(data-w-hide="218") a walk]
            span(data-w-reveal="218")  long walks
            span(data-w-reveal="343")  – we #[span(data-w-reveal="396") have to ]tire her out
              span(data-w-reveal="498")  in one #[span(data-w-reveal="659") government-approved] outing
            span(data-l-hide="7") .
            span(data-l-reveal="7")
              span(data-w-hide="498") :
              span(data-w-reveal="498") .
          p(data-l-reveal="7")
              | #[span(data-w-hide="498") i]#[span(data-w-reveal="498") I]t#[span(data-w-hide="198") ’s easy]#[span(data-w-reveal="198")  isn’t hard] to tire her#[span(data-w-reveal="168")  out].
              span(data-w-reveal="408") #[span(data-w-hide="595")  Forty-five minutes is enough.]
              span(data-w-reveal="595")  #[span(data-w-hide="658") After f]#[span(data-w-reveal="658") F]orty-five minutes #[span(data-w-reveal="658") into any walk ]she #[span(data-w-reveal="687") gives you a ]look#[span(data-w-hide="687") s at you]: ‘Are we lost?’
          p(data-l-reveal="8") We #[span(data-w-hide="180") pass]#[span(data-w-reveal="180") walk past] big houses
            span(data-w-reveal="366")  and #[span(data-w-reveal="432") jealously ] imagine 
              span(data-w-reveal="528") being on lockdown
              span(data-w-hide="528") living
              span(data-w-hide="633")  inside
              span(data-w-reveal="633")  there instead of here
            | .
          p(data-l-reveal="9") #[span(data-w-reveal="294") But also: a]#[span(data-w-hide="294") A] different walk
            span(data-w-reveal="232") , a different day
            span(data-w-reveal="553")  (for all the difference a day makes
              span(data-w-reveal="635") , these days
              | )
            span(data-l-hide="10") .
            span(data-l-reveal="10") ,
          p(data-l-reveal="10") I see someone I know
            span(data-w-reveal="354")  on the far side of the road
            span(data-w-reveal="627") , and 
            span(data-w-reveal="592") #[span(data-w-hide="627") ; ]we have a shouted conversation
            | .
          p(data-l-reveal="11") His wife is in hospital
            span(data-w-reveal="281") , expecting twins
            | .
            span(data-w-reveal="427")  He’ll #[span(data-w-hide="617") get to ]see her
              span(data-w-reveal="518")  for the birth
              span(data-w-reveal="617")  and then daily#[span(data-w-reveal="685") , briefly,] after
              |.
          p(data-l-reveal="12") I say positive things
            span(data-w-reveal="231") #[span(data-w-reveal="421") ,] awkwardly
            span(data-w-reveal="309")  and loudly
            span(data-w-reveal="421") , then #[span(data-w-hide="575") go home]#[span(data-w-reveal="575")  wait #[span(data-w-reveal="686") until I’m home ]to imagine how that feels]
            | .
          p(data-l-reveal="13") What do you write
            span(data-w-reveal="276")  at times like these
            | ?
            span(data-w-reveal="388")  #[span(data-w-reveal="516") It would be nice to write s]#[span(data-w-hide="516") S]hapes#[span(data-w-hide="516") , maybe]
              span(data-w-reveal="646")  instead of words
              | .
          p(data-l-reveal="14") #[span(data-w-hide="170") Just shapes]#[span(data-w-reveal="170") Shapes and sounds]
            span(data-l-hide="15") .
            span(data-l-reveal="15") #[span(data-w-reveal="220") .]
            span(data-w-reveal="224")  Catafalque
              span(data-w-reveal="318")  catafalque
              span(data-w-reveal="394")  catafalque
              span(data-w-reveal="471")  catafalque
              span(data-w-reveal="547")  catafalque
              span(data-w-reveal="624")  catafalque
              span(data-w-reveal="699")  catafalque
              | .
          p(data-l-reveal="15") #[span(data-w-hide="224") without]#[span(data-w-reveal="224") That’s a]#[span(data-w-reveal="252")  William H. Gass] reference
            span(data-w-reveal="681")  (to #[em Willie Masters’ Lonesome Wife])
            span(data-w-reveal="437") , everything is a reference
            | .
          p(data-l-reveal="16") #[span(data-w-hide="229") That’s m]#[span(data-w-hide="418") #[span(data-w-reveal="229") M]y]#[span(data-w-reveal="418") The] problem
            span(data-w-reveal="229")  is that I am #[span(data-w-hide="421") stupid]
            span(data-w-reveal="421") one of the stupidest people alive
            span(data-w-reveal="600")  and I am #[span(data-w-hide="1") writing]#[span(data-w-reveal="686") attempting to write] a book
            | .
          p(data-l-reveal="17") #[span(data-w-reveal="234") All o]#[span(data-w-hide="234") O]ur friends#[span(data-w-hide="212") ,]#[span(data-w-reveal="212")  have been] #[span(data-w-reveal="343") flattened into screens]
            span(data-w-reveal="423")  and boxed
            span(data-w-hide="343") boxed
            span(data-w-reveal="506") , and us #[span(data-w-hide="614") too]
            span(data-w-reveal="614") boxed beside them
            span(data-l-hide="18") .
            span(data-l-reveal="18") #[span(data-w-hide="423") ;]
              span(data-w-reveal="423") .
          p(data-l-reveal="18") #[span(data-w-hide="423") o]#[span(data-w-reveal="423") O]ne #[span(data-w-hide="254") behind]
            span(data-w-reveal="302") friend 
            span(data-w-reveal="254") I get to talk to through
            |  a door
            span(data-w-reveal="383") , even wave
            span(data-w-reveal="457")  up at her
            span(data-w-reveal="669") , waving through her 
            span(data-w-reveal="519")  window
            span(data-l-hide="19") .
            span(data-l-reveal="19") #[span(data-w-hide="457") ;]
              span(data-w-reveal="457") .
          p(data-l-reveal="19") #[span(data-w-hide="457") a]#[span(data-w-reveal="457") A]nother I #[span(data-w-reveal="503") pick up at the hospital to ]drive #[span(data-w-reveal="536") him ]home
            span(data-w-reveal="315")  from a#[span(data-w-hide="366") n]#[span(data-w-reveal="503") n] #[span(data-w-hide="503") #[span(data-w-reveal="366") hospital]] appointment
            | .
          p(data-l-reveal="20") It's a shock
            span(data-w-reveal="405")  as real as a punch
            span(data-w-reveal="271")  when he gets into the car
            span(data-w-hide="271") .
            span(data-w-reveal="271") :
            span(data-w-reveal="505")  I drive dazed
              span(data-w-reveal="667")  from sitting alongside
              | .
          p(data-l-reveal="21") #[span(data-w-hide="271") A]#[span(data-w-reveal="271") #[span(data-w-hide="505") a]]#[span(data-w-reveal="505") A] body #[span(data-w-hide="197") in]#[span(data-w-reveal="197") that occupies] space.
            span(data-w-reveal="321")  He’s an eruption.
            span(data-w-reveal="528")  He’s the Sphere #[span(data-w-hide="567") in]#[span(data-w-reveal="567") visiting] Flatland.
            span(data-w-reveal="669") #[span(data-l-reveal="22")  His fullness is]
          p(data-l-reveal="22") #[span(data-w-hide="669") U]#[span(data-w-reveal="669") u]ncanny.
            span(data-w-reveal="395")  What do you call  
            span(data-w-reveal="268")  #[span(data-w-reveal="395") a]#[span(data-w-hide="395") A] ghost #[span(data-w-reveal="440") who’s ]more real than life#[span(data-w-reveal="395") ?]
              span(data-w-hide="395") .
            span(data-w-reveal="518")  I read
              span(data-w-reveal="620") , walk the dog
              span(data-w-reveal="677") , sleep badly
              | .
          p(data-l-reveal="23")
            span(data-w-reveal="229") #[span(data-w-hide="412") I wonder i]#[span(data-w-reveal="412") I]f
            span(data-w-reveal="537")  in the mornings
            |  I have a sore throat
            span(data-w-reveal="537") ,
            span(data-w-reveal="412")  I wonder#[span(data-w-hide="640")  if I will cause any deaths]
            span(data-w-reveal="640") , ‘Will I be responsible for any fatalities?’
            span(data-l-hide="24") #[span(data-w-hide="640") .]
            span(data-l-reveal="24") #[span(data-w-reveal="412") #[span(data-w-hide="640") .]]
          p(data-l-reveal="24") #[span(data-w-hide="412") or just ]
            span(data-w-reveal="229") #[span(data-w-hide="412") p]#[span(data-w-reveal="412") P]andemic 
            | hypochondria
            span(data-l-hide="25") .
            span(data-l-reveal="25") #[span(data-w-hide="229") ,]#[span(data-w-reveal="229") .]
            span(data-w-reveal="412")  Does hypochondria exist 
              span(data-w-hide="471") now
              span(data-w-reveal="471") in a pandemic
              | ?
            span(data-w-reveal="597")  On with the day
              span(data-w-reveal="659") , anyway
              | .
          p(data-l-reveal="25") I think
            span(data-w-reveal="229")  about how I’m thinking
            span(data-w-reveal="327")  about all this
            |.
            span(data-w-reveal="526")  I get #[span(data-w-reveal="557") over]familiar with 
              span(data-w-reveal="694") all four corners of 
              | this box.
          p(data-l-reveal="26")
            span(data-w-hide="263") I’m
            span(data-w-reveal="263") We are each of us
              span(data-w-reveal="323") , I’m sure, 
            |  a haunted house
            span(data-l-hide="27") .
            span(data-l-reveal="27") #[span(data-w-hide="263") ,]
              span(data-w-reveal="263") .
            span(data-w-reveal="502")  I take the dog for walks
              span(data-w-reveal="691")  and we pass homes where
              span(data-w-hide="691") .
          p(data-l-reveal="27") #[span(data-w-hide="691") #[span(data-w-reveal="263") O]]#[span(data-w-hide="263") o]#[span(data-w-reveal="691") o]ther people#[span(data-w-hide="263")  are] 
            span(data-w-reveal="263") #[span(data-w-hide="379") have]#[span(data-w-reveal="379") are quarantined with] #[span(data-w-hide="691") awful] bunkmates
            span(data-w-hide="263") too
            span(data-w-reveal="516") , whose fangs grow
            span(data-w-reveal="691")  with every word of the news
            span(data-l-hide="28") .
            span(data-l-reveal="28") #[span(data-w-hide="516") ,]#[span(data-w-reveal="516") ,]
          p(data-l-reveal="28") 
            span(data-w-hide="516") #[span(data-w-hide="263") and]#[span(data-w-reveal="263") who they’re] living #[span(data-w-reveal="263") with ]in stale air
            span(data-w-reveal="516") from the staleness of the air
            span(data-w-reveal="473") , #[span(data-w-reveal="682") every day] thick with #[span(data-w-reveal="516") stories and ]statistics
            span(data-w-reveal="477")  about loss
            span(data-l-hide="29") .
            span(data-l-reveal="29") #[span(data-w-hide="263") ,]#[span(data-w-reveal="263") .]
            span(data-w-reveal="607")  I’m #[span(data-l-hide="29") lucky.]#[span(data-l-reveal="29") glad that]
          p(data-l-reveal="29")
            span(data-w-reveal="263") #[span(data-w-hide="606") T]#[span(data-w-reveal="606") t]he worst of mine are 
            | locked #[span(data-w-hide="335") up]#[span(data-w-reveal="335") in the basement]
            span(data-w-reveal="566") #[span(data-w-hide="631") , and]#[span(data-w-reveal="631") . To have #[span(data-w-reveal="692") spent years building]#[span(data-w-hide="692") built]]#[span(data-w-hide="692")  good,] liveable floors above
            | . 
          p(data-l-reveal="30") I try to remember
            span(data-w-reveal="168")  that
            span(data-w-reveal="312") . Hold it in my head
            span(data-w-reveal="441")  as something real
            | .
            span(data-w-reveal="505")  And full.
          .bottom-right.ui-resizable-se.ui-resizable-handle
        .corner-highlight.help
        .corner-arrow.help #[img(src="img/arrow.png")]
        .corner-text-hint.help drag 
